  * {
    margin: 0;
    position: absolute;
  }
  body {
    background: #0B2429;
  }
  .circle-container{
    display: flex;
  }
  .circle1{
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
  .circle2{
  left:100px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
  .circle3{
  left:200px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
  .circle4{
  left:300px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  } 
  .circle5{
  top:100px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
  .circle6{
  left:100px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
  .circle7{
  left:200px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
  .circle8{
  left:300px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
  .circle9{
  top:100px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
  .circle10{
  left:100px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
  .circle11{
  left:200px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
  .circle12{
  left:300px;
  height: 100px;
  width: 100px;
  background-color: #998235;
  border-radius: 50%;
  }
